@model TuHu_Web.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; font-size:40px; margin-bottom: 30px">Chi tiết khách hàng</h2>


<div>
    <h4 style="margin-left: 30px">Khách hàng</h4>
    <hr />
    <dl class="dl-horizontal" style=" margin-left: 100px; border: 2px solid black; width: 90% ">
        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Tên khách hàng</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Name_Customer)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Địa chỉ khách hàng</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Address_Customer)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Số điện thoại</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Phone_Number_Customer)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Email</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p style="margin-left: 30px">
    <button style="background-color:aquamarine">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id_Customer })
    </button>
    <button>
        @Html.ActionLink("Trở về danh sách", "Index")
    </button>
</p>
