@model IEnumerable<TuHu_Web.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style=" font-size:40px;text-align:center">Khách hàng</h2>


<table class="table" style="margin-left: 100px; border: 2px solid black; width: 80% ">
    <tr style="border: 2px solid black; font-size:15px">
        <th>
            <div>Tên khách hàng</div>
        </th>
        <th>
            <div>Địa chỉ</div>
        </th>
        <th>
            <div>Số điện thoại</div>
        </th>
        <th>
            <div>Email</div>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="width: 10px">
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Name_Customer)
            </td>
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Address_Customer)
            </td>
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Phone_Number_Customer)
            </td>
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="border-bottom: 2px solid black">
                <button>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id_Customer })

                </button>
                <button>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id_Customer })

                </button>
                <button>
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id_Customer })

                </button>

            </td>
        </tr>
    }

</table>
<button style="margin-bottom: 5px; background-color: aquamarine; font-size: 15px; border-radius: 5px; width: 80px; height: 30px; margin-left: 100px; color: black">
    @Html.ActionLink("Thêm mới", "Create")
</button>
