@model IEnumerable<TuHu_Web.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style=" font-size:40px;text-align:center">Khách hàng</h2>

@using (Html.BeginForm("Index", "Customers", FormMethod.Get, new { }))
{
    <div class="input-group" style="margin-top: 20px;">
        <input type="text" name="valueSearch" class="form-control" placeholder="Nhập tên bạn muốn tìm...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
}
<button class="btn" style="margin-left: 10px; color: aliceblue;">
    @Html.ActionLink("Thêm", "Create", null, new { @class = "btn btn-adn text-danger" })
</button>
<table class="table" style="margin-left: 100px; border: 2px solid black; width: 80% ">
    <tr style="border: 2px solid black; font-size:15px">
        <th>
            <div>Tên khách hàng</div>
        </th>
        <th>
            <div>Địa chỉ</div>
        </th>
        <th>
            <div>Số điện thoại</div>
        </th>
        <th>
            <div>Email</div>
        </th>
        <th></th>
    </tr>

    
    @foreach (var item in Model)
    {
        if (item == null)
        {
            <div class="align-items-center justify-content-center">
                <div>Chưa có khách hàng nào</div>
            </div>
        }
        else
        {
                    <tr style="width: 10px">
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Name_Customer)
            </td>
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Address_Customer)
            </td>
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Phone_Number_Customer)
            </td>
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="border-bottom: 2px solid black">
                <button>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id_Customer })

                </button>
                <button>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id_Customer })

                </button>
                <button>
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id_Customer })

                </button>

            </td>
        </tr>        
        }

    }

</table>
<div style="background-color: white; display: flex; justify-content: space-between; height: 40px; align-items: center; padding: 20px; border-radius: 4px;">
    <div style="display:flex; column-gap: 10px">
        <a href="@Url.Action("Index", "Customers", new {  page = 1})" class="btn btn-info">Trang đầu</a>
        <a href="@Url.Action("Index", "Customers", new {  page = Convert.ToInt32(ViewBag.totalPages)})" class="btn btn-info">Trang cuối</a>
        <a href="@Url.Action("Index", "Customers", new {  page = Convert.ToInt32(ViewBag.currentPage) + 1})" class="btn btn-info">Trang tiếp</a>
    </div>
    <ul style="display: flex; column-gap: 10px; align-items: center">
        <span style="margin-top: 5px; color: red; font-size: large; font-weight: 600 ">Trang: </span>
        <span style="margin-top: 5px; color: red; font-size: large; font-weight: 600 ">Trang: </span>
        @{
            for (int i = 1; i <= Convert.ToInt32(ViewBag.totalPages); i++)
            {
                if (i == Convert.ToInt32(ViewBag.currentPage))
                {
                    <li style="list-style: none; cursor: pointer; margin-top: 5px;"><a style="color: red; font-size: large">@i</a></li>
                }
                else
                {
                    <li style="list-style: none; cursor: pointer; margin-top: 5px;"><a href="@Url.Action("Index", "Customers", new {  page = i})" style="color: #333; font-size: large">@i</a></li>
                }
            }
        }
    </ul>
</div>
