@model TuHu_Web.Models.Provider

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center; font-size:40px; margin-bottom: 30px">Xoá thông tin nhà cung cấp</h2>


<h3 style="margin-left: 30px">Bạn Có Chắc Chắn Muốn Xoá Không ?</h3>

<div>
    <h4 style="margin-left: 30px">Nhà Cung Cấp</h4>
    <hr />
    <dl class="dl-horizontal" style=" margin-left: 100px; border: 2px solid black; width: 90% ">
        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Tên nhà cung cấp</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Name_Provider)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Địa chỉ</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Address_Provider)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Số điện thoại</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Phone_Number_Provider)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Email</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Email_Provider)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 30px">
            <input type="submit" value="Xác nhận" class="btn btn-default" style="background-color:aquamarine"/> 
            <button>
                @Html.ActionLink("Trở về trang danh sách", "Index")
            </button>
        </div>
    }
</div>
