@model TuHu_Web.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style=" font-size:40px;text-align:center; padding-top:20px">Thêm sản phẩm</h2>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="margin-left: 60px">Sản Phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                <div class = "control-label col-md-2">Id</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id_Product, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id_Product, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px 50px 0px 60px; font-size:20px">
            <div class="control-label col-md-2" style="width:150px; text-align:left">Tên sản phẩm</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name_Product, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name_Product, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px 50px 0px 60px; font-size:20px">
            <div class="control-label col-md-2" style="width:150px; text-align:left">Giá sản phẩm</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price_Product, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price_Product, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px 50px 0px 60px; font-size:20px">
            <div class="control-label col-md-2" style="width:150px; text-align:left">Số lượng tồn</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inventory_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inventory_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px 50px 0px 60px; font-size:20px">
            <div class="control-label col-md-2" style="width:150px; text-align:left">Mô tả chi tiết</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px 50px 0px 60px; font-size:20px">
            <div class="control-label col-md-2" style="width:150px; text-align:left">Hình ảnh</div>
            <div class="col-md-10">
                <input type="file" name="urlFile" class="form-control" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-top: 20px">
        <div class="col-md-offset-2 col-md-10" style="margin-left:50px">
            <input type="submit" value="Thêm sản phẩm" class="btn btn-default" style="height: 37px; background-color:aquamarine; color: black" />
        </div>
        <button>
            @Html.ActionLink("Trở Về Danh Sách", "Index")
        </button>
    </div>
}


