@model TuHu_Web.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center; font-size:40px; margin-bottom: 30px">Xoá sản phẩm</h2>

<h3 style="margin-left: 30px">Bạn Có Chắc Chắn Muốn Xoá Không ?</h3>
<div>
    <h4 style="margin-left: 30px">Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal" style=" margin-left: 100px; border: 2px solid black; width: 90% ">
        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Tên sản phẩm</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Name_Product)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Giá sản phẩm</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Price_Product)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Số lượng tồn</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Inventory_Number)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Mô tả chi tiết</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Hình ảnh</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            <img src="~/Uploads/@Model.Image" style="width: 100px; height:100px" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color" style="margin-left: 30px">
    <input type="submit" value="Xoá sản phẩm" class="btn btn-default" style="background-color:aquamarine" />
    <button>
        @Html.ActionLink("Trở về trang danh sách", "Index")
    </button> 
</div>
    }
</div>
