@model TuHu_Web.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; font-size:40px; margin-bottom: 30px">Chi tiết sản phẩm</h2>

<div>
    <h4 style="margin-left: 30px">Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal" style=" margin-left: 100px; border: 2px solid black; width: 90% ">
        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Tên sản phẩm</div>

        </dt>

        <dd style="border: 2px solid black; padding-left:5px">

            @Html.DisplayFor(model => model.Name_Product)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Giá sản phẩm</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Price_Product)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Số Lượng Tồn</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Inventory_Number)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            <div>Mô tả chi tiết</div>
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            <img src="~/Uploads/@Model.Image" style="width: 100px; height:100px" />
        </dd>

    </dl>
</div>
<p style="margin-left: 30px;">
    <button style="background-color:aquamarine">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id_Product })
    </button>
    <button>
        @Html.ActionLink("Trở về trang danh sách", "Index")
    </button>
</p>
