@model IEnumerable<TuHu_Web.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style=" font-size:40px;text-align:center">Sản Phẩm</h2>
@using (Html.BeginForm("Index", "Products", FormMethod.Get, new { }))
{
    <div class="input-group" style="margin-top: 20px;">
        <input type="text" name="valueSearch" class="form-control" placeholder="Nhập tên món ăn muốn tìm...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
}
<button class="btn" style="margin-left: 10px; color: aliceblue;">
    @Html.ActionLink("Thêm", "Create", null, new { @class = "btn btn-adn text-danger" })
</button>

<table class="table" style="margin-left: 100px; border: 2px solid black; width: 80%; margin-top: -40px; ">
    <tr style="border: 2px solid black; font-size:15px">
        <th style="border-right: 2px solid black ">
            <div>Tên Sản Phẩm</div>
        </th>
        <th style="border-right: 2px solid black ">
            <div>Giá Sản Phẩm</div>
        </th>
        <th style="border-right: 2px solid black ">
            <div>Số Lượng Tồn</div>

        </th>
        <th style="border-right: 2px solid black ">
            <div>Chi Tiết</div>
        </th>
        <th style="border-right: 2px solid black ">
            <div>Hình Ảnh</div>
        </th>
        <th>
            <div>Chức năng</div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="border-right: 2px solid black; border-bottom: 2px solid black ">
                @Html.DisplayFor(modelItem => item.Name_Product)
            </td>
            <td style="border-right: 2px solid black; border-bottom: 2px solid black ">
                @Html.DisplayFor(modelItem => item.Price_Product)
            </td>
            <td style="border-right: 2px solid black; border-bottom: 2px solid black ">
                @Html.DisplayFor(modelItem => item.Inventory_Number)
            </td>
            <td style="border-right: 2px solid black; border-bottom: 2px solid black ">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="border-right: 2px solid black; border-bottom: 2px solid black ">
                <img src="~/Uploads/@item.Image" style="width: 100px; height:100px" />
            </td>
            <td style="border-right: 2px solid black; border-bottom: 2px solid black ">
                <button>
                    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.Id_Product })
                </button>
                <button>

                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.Id_Product })
                </button>
                <button>

                    @Html.ActionLink("Xoá", "Delete", new { id = item.Id_Product })
                </button>

            </td>
        </tr>
    }

</table>
<div style="background-color: white; display: flex; justify-content: space-between; height: 40px; align-items: center; padding: 20px; border-radius: 4px;">
    <div style="display:flex; column-gap: 10px">
        <a href="@Url.Action("Index", "Products", new {  page = 1})" class="btn btn-info">Trang Đầu</a>
        <a href="@Url.Action("Index", "Products", new {  page = Convert.ToInt32(ViewBag.totalPages)})" class="btn btn-info">Trang Cuối</a>
        <a href="@Url.Action("Index", "Products", new {  page = Convert.ToInt32(ViewBag.currentPage) + 1})" class="btn btn-info">Trang Tiếp</a>
    
    </div>
    <ul style="display: flex; column-gap: 10px; align-items: center">
        <span style="margin-top: 5px; color: red; font-size: large; font-weight: 600 ">Trang: </span>
        <span style="margin-top: 5px; color: red; font-size: large; font-weight: 600 ">Trang: </span>
        @{
            for (int i = 1; i <= Convert.ToInt32(ViewBag.totalPages); i++)
            {
                if (i == Convert.ToInt32(ViewBag.currentPage))
                {
                    <li style="list-style: none; cursor: pointer; margin-top: 5px;"><a style="color: red; font-size: large">@i</a></li>
                }
                else
                {
                    <li style="list-style: none; cursor: pointer; margin-top: 5px;"><a href="@Url.Action("Index", "Products", new {  page = i})" style="color: #333; font-size: large">@i</a></li>
                }
            }
        }
    </ul>
</div>


