@model TuHu_Web.Models.Bill_Of_Sale

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style=" font-size:40px;text-align:center; padding-top:20px">Thêm thông tin đơn bán</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="margin-left: 60px">Đơn bán</h4>
        <hr />
        <div style="margin-left: 100px; border: 2px solid black; width: 80% ">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px; font-size:15px">
                <div class="control-label col-md-2">ID nhân viên</div>
                <div class="col-md-10">
                    @Html.DropDownList("Id_Staff", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Staff, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px; font-size:15px">
                <div class="control-label col-md-2">ID khách hàng</div>
                <div class="col-md-10">
                    @Html.DropDownList("Id_Customer", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Customer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="border: 2px solid black; text-align:left; padding:5px 0px 10px 0px; margin:0px; font-size:15px">
                <div class="control-label col-md-2">Ngày và giờ</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date_And_Time, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date_And_Time, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top: 20px">
            <div class="col-md-offset-2 col-md-10" style="margin-left:100px">
                <input type="submit" value="Thêm" class="btn btn-default" style="height: 37px; background-color:aquamarine; color: black" />
                <button style="height: 35px">
                    @Html.ActionLink("Trở về danh sách", "Index")
                </button>
            </div>
        </div>
    </div>
}
