@model TuHu_Web.Models.Bill_Of_Sale

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; font-size:40px; margin-bottom: 30px">Xóa đơn bán</h2>

<h3 style="margin-left: 30px">Bạn có chắc chắn muốn xóa đơn bán này không ?</h3>

<div>
    <h4 style="margin-left: 30px">Đơn bán</h4>
    <hr />
    <dl class="dl-horizontal" style=" margin-left: 100px; border: 2px solid black; width: 90% ">
        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            @Html.DisplayNameFor(model => model.Customer.Name_Customer)
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Customer.Name_Customer)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            @Html.DisplayNameFor(model => model.Staff.Name_Of_Staff)
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Staff.Name_Of_Staff)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            @Html.DisplayNameFor(model => model.Date_And_Time)
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Date_And_Time)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 30px">
            <input type="submit" value="Xác nhận" class="btn btn-default" style="background-color:aquamarine" /> 
            <button>
                @Html.ActionLink("Trở về danh sách", "Index")
            </button>
        </div>
    }
</div>
