@model TuHu_Web.Models.Login

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; font-size:40px; margin-bottom: 30px">Xoá tài khoản</h2>


<h3 style="margin-left: 30px">Bạn có chắc chắn muốn xoá không ?</h3>

<div>
    <h4 style="margin-left: 30px">Tài Khoản</h4>
    <hr />
    <dl class="dl-horizontal" style=" margin-left: 100px; border: 2px solid black; width: 90% ">
        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            @Html.DisplayNameFor(model => model.Position.Name_Position)
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Position.Name_Position)
        </dd>

        <dt style="border: 2px solid black; text-align:left; padding-left:5px">
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd style="border: 2px solid black; padding-left:5px">
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 30px">
            <input type="submit" value="Xác nhận" class="btn btn-default" style="background-color:aquamarine"/> 
            <button>
                @Html.ActionLink("Trở về trang danh sách", "Index")
            </button>
        </div>
    }
</div>
