@model IEnumerable<TuHu_Web.Models.Login>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style=" font-size:40px;text-align:center">Tài Khoản</h2>


<table class="table" style="margin-left: 100px; border: 2px solid black; width: 80% ">
    <tr style="border: 2px solid black; font-size:15px">
        <th>
            <div>Tên vị trí</div>
        </th>
        <th>
            <div>Mật khẩu</div>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="width: 10px">
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Position.Name_Position)
            </td>
            <td style="border-bottom: 2px solid black">
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td style="border-bottom: 2px solid black">
                <button>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.UserName })
                </button>
                <button>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.UserName })
                </button>
                <button>
                    @Html.ActionLink("Xóa", "Delete", new { id = item.UserName })
                </button>
            </td>
        </tr>
    }

</table>
<button style="margin-bottom: 5px; background-color: aquamarine; font-size: 15px; border-radius: 5px; width: 80px; height: 30px; margin-left: 100px; color: black">
    @Html.ActionLink("Thêm mới", "Create")
</button>
